In [51]:
# Load pre-processed dataset which only contains JFK to LAX flight with American Airlines
import pandas as pd

df = pd.read_csv("data/final_dataset.csv")
df.head()

   searchDate  flightDate  totalFare
0  2022-04-17  2022-06-01      272.6
1  2022-04-17  2022-06-01      281.6
2  2022-04-17  2022-06-01      281.6
3  2022-04-17  2022-06-01      281.6
4  2022-04-17  2022-06-01      328.6