## Load Dataset
Load the preprocessed dataset and display basic information about its structure.

In [15]:
import pandas as pd
import numpy as np

# Read the preprocessed dataset
df = pd.read_csv("data/preprocessed_dataset.csv")
print(f"Original dataset shape: {df.shape}")
print(f"Original columns: {list(df.columns)}")
df.head()

Original dataset shape: (130450, 13)
Original columns: ['searchDate', 'flightDate', 'totalFare', 'days_to_departure', 'search_dow', 'flight_dow', 'search_month', 'flight_month', 'search_week', 'flight_week', 'is_weekend_flight', 'days_into_summer', 'is_peak_travel_period']

,searchDate,flightDate,totalFare,days_to_departure,search_dow,flight_dow,search_month,flight_month,search_week,flight_week,is_weekend_flight,days_into_summer,is_peak_travel_period
0,2022-04-17,2022-06-01,272.6,45,6,2,4,6,15,22,0,0,0
1,2022-04-17,2022-06-01,281.6,45,6,2,4,6,15,22,0,0,0
2,2022-04-17,2022-06-01,281.6,45,6,2,4,6,15,22,0,0,0
3,2022-04-17,2022-06-01,281.6,45,6,2,4,6,15,22,0,0,0
4,2022-04-17,2022-06-01,328.6,45,6,2,4,6,15,22,0,0,0

## Filter Columns
Keep only the three core columns: searchDate, flightDate, and totalFare.

In [16]:
# Keep only the three core columns
columns_to_keep = ['searchDate', 'flightDate', 'totalFare']
df_filtered = df[columns_to_keep]
print(f"Filtered dataset shape: {df_filtered.shape}")
print(f"Filtered columns: {list(df_filtered.columns)}")
df_filtered.head()

Filtered dataset shape: (130450, 3)
Filtered columns: ['searchDate', 'flightDate', 'totalFare']

   searchDate  flightDate  totalFare
0  2022-04-17  2022-06-01      272.6
1  2022-04-17  2022-06-01      281.6
2  2022-04-17  2022-06-01      281.6
3  2022-04-17  2022-06-01      281.6
4  2022-04-17  2022-06-01      328.6

## Group and Aggregate
Group rows by searchDate and flightDate, then average the totalFare for each unique combination.

In [17]:
df_grouped = df_filtered.groupby(['searchDate', 'flightDate'])['totalFare'].mean().reset_index()
print(f"Grouped dataset shape: {df_grouped.shape}")
print(f"Reduced from {len(df_filtered)} rows to {len(df_grouped)} rows")
df_grouped.iloc[0:25]

Grouped dataset shape: (4599, 3)
Reduced from 130450 rows to 4599 rows

    searchDate  flightDate   totalFare
0   2022-04-17  2022-06-01  366.445238
1   2022-04-17  2022-06-02  383.912500
2   2022-04-17  2022-06-03  406.672917
3   2022-04-17  2022-06-04  424.955385
4   2022-04-17  2022-06-05  416.481111
5   2022-04-17  2022-06-06  398.401143
6   2022-04-17  2022-06-07  341.123462
7   2022-04-17  2022-06-08  362.764000
8   2022-04-17  2022-06-09  403.721212
9   2022-04-17  2022-06-10  416.877097
10  2022-04-17  2022-06-11  439.128667
11  2022-04-17  2022-06-12  478.546207
12  2022-04-17  2022-06-13  431.991935
13  2022-04-17  2022-06-14  381.850000
14  2022-04-17  2022-06-15  411.937917
15  2022-04-17  2022-06-16  436.252143
16  2022-04-18  2022-06-01  378.122727
17  2022-04-18  2022-06-02  383.031667
18  2022-04-18  2022-06-03  376.590000
19  2022-04-18  2022-06-04  421.526667
20  2022-04-18  2022-06-05  464.597097
21  2022-04-18  2022-06-06  393.016471
22  2022-04-18  2022-06-07  338.414400
23  2022-04-18  2022-06-08  355.955172
24  2022-04-19  2022-06-01  400.229630

## Calculate Days to Departure
Compute the number of days between the search date and flight date for each record.

In [18]:
# Calculate days between search date and flight date
df_grouped['searchDate'] = pd.to_datetime(df_grouped['searchDate'])
df_grouped['flightDate'] = pd.to_datetime(df_grouped['flightDate'])
df_grouped['days_to_departure'] = (df_grouped['flightDate'] - df_grouped['searchDate']).dt.days
df_grouped.iloc[0:25]

   searchDate flightDate   totalFare  days_to_departure
0  2022-04-17 2022-06-01  366.445238                 45
1  2022-04-17 2022-06-02  383.912500                 46
2  2022-04-17 2022-06-03  406.672917                 47
3  2022-04-17 2022-06-04  424.955385                 48
4  2022-04-17 2022-06-05  416.481111                 49
5  2022-04-17 2022-06-06  398.401143                 50
6  2022-04-17 2022-06-07  341.123462                 51
7  2022-04-17 2022-06-08  362.764000                 52
8  2022-04-17 2022-06-09  403.721212                 53
9  2022-04-17 2022-06-10  416.877097                 54
10 2022-04-17 2022-06-11  439.128667                 55
11 2022-04-17 2022-06-12  478.546207                 56
12 2022-04-17 2022-06-13  431.991935                 57
13 2022-04-17 2022-06-14  381.850000                 58
14 2022-04-17 2022-06-15  411.937917                 59
15 2022-04-17 2022-06-16  436.252143                 60
16 2022-04-18 2022-06-01  378.122727                 44
17 2022-04-18 2022-06-02  383.031667                 45
18 2022-04-18 2022-06-03  376.590000                 46
19 2022-04-18 2022-06-04  421.526667                 47
20 2022-04-18 2022-06-05  464.597097                 48
21 2022-04-18 2022-06-06  393.016471                 49
22 2022-04-18 2022-06-07  338.414400                 50
23 2022-04-18 2022-06-08  355.955172                 51
24 2022-04-19 2022-06-01  400.229630                 43

## Pivot Data
Reshape the data with flightDate_month_day as rows and days_to_departure as columns for multi-output regression.

In [19]:
# Format flightDate to only show month and day (no year)
df_grouped['flightDate_month_day'] = df_grouped['flightDate'].dt.strftime('%m-%d')

# Pivot the data: flightDate_month_day as rows, days_to_departure as columns
df_pivoted = df_grouped.pivot(index='flightDate_month_day', columns='days_to_departure', values='totalFare')
numeric_cols = sorted([int(col) for col in df_pivoted.columns], reverse=True)

# Create column mapping
column_mapping = {}
for days in numeric_cols:
    column_mapping[days] = f"{days} days to departure"

# Then rename columns
df_pivoted = df_pivoted.rename(columns=column_mapping)

df_pivoted.iloc[0:25]

days_to_departure,1 days to departure,2 days to departure,3 days to departure,4 days to departure,5 days to departure,6 days to departure,7 days to departure,8 days to departure,9 days to departure,10 days to departure,...,51 days to departure,52 days to departure,53 days to departure,54 days to departure,55 days to departure,56 days to departure,57 days to departure,58 days to departure,59 days to departure,60 days to departure
flightDate_month_day,,,,,,,,,,,,,,,,,,,,,
06-01,417.090870,397.650952,420.162353,470.177000,452.476957,527.084737,493.403158,527.262609,495.362500,476.796667,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
06-02,415.924167,403.580455,395.881111,434.208667,445.159744,485.058333,476.950000,500.293750,491.063333,434.014074,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
06-03,454.933889,425.447826,418.852917,431.945000,454.743939,474.713043,480.011923,482.575000,497.086897,494.309565,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
06-04,542.497143,461.461111,468.624000,463.863913,451.170417,484.100000,492.108000,473.958929,477.646154,465.987273,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
06-05,879.026154,573.712174,667.654000,634.514286,591.014643,623.223077,628.157895,628.789474,708.747059,647.606429,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
06-06,558.055714,550.206000,530.795238,549.848462,556.404839,531.688710,508.586957,561.983333,572.066667,590.309091,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
06-07,599.839524,891.244800,1399.859091,799.360800,914.669643,563.844444,847.217308,595.122222,970.373077,852.691304,...,341.123462,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
06-08,1507.860455,1520.783913,1378.587241,1250.355714,1721.851364,1427.600000,1417.504000,1051.269130,774.063182,878.011111,...,355.955172,362.764000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
06-09,1173.795625,1297.605789,1499.241579,1249.956538,1318.926667,1239.577778,1392.407692,1049.382273,676.377813,659.130000,...,442.599677,NaN,403.721212,NaN,NaN,NaN,NaN,NaN,NaN,NaN
06-10,818.848333,1485.269167,1157.506667,1681.200667,1033.963478,2016.611111,1245.330000,818.877778,707.129412,649.574000,...,NaN,426.145000,NaN,416.877097,NaN,NaN,NaN,NaN,NaN,NaN
06-11,1032.520000,957.362000,1425.025000,1549.517857,995.193182,1035.547368,1596.990625,864.808750,984.850000,996.787500,...,462.899412,NaN,442.271034,NaN,439.128667,NaN,NaN,NaN,NaN,NaN
06-12,781.185714,730.618182,632.211111,1331.525833,2100.045556,2145.500000,1959.021053,2244.775000,1934.835238,1755.778824,...,485.175769,491.935926,NaN,510.965161,NaN,478.546207,NaN,NaN,NaN,NaN
06-13,847.235000,641.607333,1059.601111,891.465333,1278.543000,1258.581818,925.100000,953.109130,869.920833,581.169565,...,453.140882,454.870833,457.131250,NaN,456.844545,NaN,431.991935,NaN,NaN,NaN
06-14,772.249000,1009.307143,1378.018636,1256.097188,982.422069,1436.604091,1047.815789,917.352857,873.803846,924.733333,...,NaN,423.483448,433.328276,416.307241,NaN,369.422273,NaN,381.850000,NaN,NaN
06-15,916.894737,931.340625,1116.531053,1021.762632,1429.422727,1717.580952,1787.825217,1941.010000,1333.033333,1317.807600,...,454.903571,NaN,436.152857,447.820968,437.844444,NaN,417.548000,NaN,411.937917,NaN
06-16,1922.371111,1437.036111,1092.888636,1171.450000,741.988889,708.856250,661.736667,643.427500,597.355217,611.844500,...,NaN,445.829310,NaN,452.988621,458.756774,453.750345,NaN,437.746897,NaN,436.252143
06-17,1245.606000,1181.751765,1044.835000,913.422759,1004.403182,987.319474,1011.954000,758.750500,632.697600,607.669286,...,459.566897,NaN,442.360882,NaN,466.534839,461.131935,450.937647,NaN,434.446897,NaN
06-18,1208.045333,959.352800,1087.263478,858.900870,772.838621,888.210000,579.587826,618.074737,678.791212,722.251379,...,489.251786,460.430000,NaN,477.502000,NaN,455.157200,469.545926,452.988750,NaN,NaN
06-19,772.709474,770.604091,791.049545,870.750833,957.034400,850.852917,961.627619,657.480000,594.409032,591.340857,...,512.055652,532.376452,456.803636,NaN,489.653846,NaN,466.900870,479.063333,476.090333,NaN
06-20,801.515500,1181.637619,1068.073043,1077.451579,875.340909,1211.608235,940.949524,1344.413333,943.501818,1362.601905,...,512.583714,417.417333,499.232059,NaN,NaN,480.762727,NaN,480.964828,480.657586,490.494194
06-21,1358.115455,1101.950400,833.429333,821.272000,854.454667,940.491538,825.857692,916.604762,1023.289474,643.833333,...,440.363793,430.250000,433.365385,422.933226,NaN,NaN,408.906667,NaN,405.740000,400.336429
06-22,1119.179565,1235.864167,1276.571364,816.594483,798.725312,866.222222,970.336500,958.954500,948.605000,1017.804500,...,460.521429,453.153448,455.805000,485.153000,479.119600,NaN,NaN,439.853704,NaN,432.013793
06-23,743.986923,642.232727,691.298462,732.205000,693.558846,768.083214,690.695484,761.232609,738.116923,782.636522,...,488.223235,483.900571,484.576250,497.457667,460.160303,502.958824,NaN,NaN,445.353529,NaN
06-24,857.410000,666.630909,659.317931,686.324000,645.949687,748.616957,765.532800,769.106364,747.407586,759.843200,...,516.939500,468.189231,462.714783,464.737500,476.716538,447.832500,468.291429,NaN,NaN,NaN
06-25,783.658000,666.298333,661.355200,636.179286,652.855600,639.425000,678.771667,625.440000,681.465000,642.151739,...,544.923600,497.977917,469.589310,457.182759,455.196667,458.573529,467.737500,486.576757,NaN,NaN

## Add Date-Based Features

Additional date-based features are added to capture weekly and seasonal
patterns in flight pricing.

In [20]:
# Reconstruct flightDate from index and add date-based features
# Convert index (mm-dd format) to full date with year 2022
flightDate = pd.to_datetime('2022-' + df_pivoted.index)

# Create is_weekend: 1 if Saturday (5) or Sunday (6), 0 otherwise
# Note: flightDate is a DatetimeIndex, so use .dayofweek directly (not .dt.dayofweek)
is_weekend = flightDate.dayofweek.isin([5, 6]).astype(int)

# Create is_public_holiday: 1 if US 2022 federal holiday, 0 otherwise
# US 2022 holidays in data range (June 1 - August 31, 2022):
# Juneteenth (observed): 2022-06-20 (Monday)
# Independence Day: 2022-07-04 (Monday)
us_2022_holidays = pd.to_datetime(['2022-06-20', '2022-07-04'])
is_public_holiday = flightDate.isin(us_2022_holidays).astype(int)

# Create days_from_summer_start: days before (negative) or after (positive) June 21, 2022
# Note: Subtracting datetimes gives TimedeltaIndex, use .days directly (not .dt.days)
summer_start = pd.to_datetime('2022-06-21')
days_from_summer_start = (flightDate - summer_start).days

# Create day_of_month: day of the month (1-31)
# Note: flightDate is a DatetimeIndex, so use .day directly (not .dt.day)
day_of_month = flightDate.day

# Insert the new columns into df_pivoted
# Place them after the index but before the pivoted columns
df_pivoted.insert(0, 'is_weekend', is_weekend)
df_pivoted.insert(1, 'is_public_holiday', is_public_holiday)
df_pivoted.insert(2, 'days_from_summer_start', days_from_summer_start)
df_pivoted.insert(3, 'day_of_month', day_of_month)

# Display the updated dataframe to verify the new columns
print(f"Updated dataframe shape: {df_pivoted.shape}")
print(f"New columns: {list(df_pivoted.columns[:4])}")

df_pivoted.iloc[0:50]

Updated dataframe shape: (92, 64)
New columns: ['is_weekend', 'is_public_holiday', 'days_from_summer_start', 'day_of_month']

days_to_departure,is_weekend,is_public_holiday,days_from_summer_start,day_of_month,1 days to departure,2 days to departure,3 days to departure,4 days to departure,5 days to departure,6 days to departure,...,51 days to departure,52 days to departure,53 days to departure,54 days to departure,55 days to departure,56 days to departure,57 days to departure,58 days to departure,59 days to departure,60 days to departure
flightDate_month_day,,,,,,,,,,,,,,,,,,,,,
06-01,0,0,-20,1,417.090870,397.650952,420.162353,470.177000,452.476957,527.084737,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
06-02,0,0,-19,2,415.924167,403.580455,395.881111,434.208667,445.159744,485.058333,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
06-03,0,0,-18,3,454.933889,425.447826,418.852917,431.945000,454.743939,474.713043,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
06-04,1,0,-17,4,542.497143,461.461111,468.624000,463.863913,451.170417,484.100000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
06-05,1,0,-16,5,879.026154,573.712174,667.654000,634.514286,591.014643,623.223077,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
06-06,0,0,-15,6,558.055714,550.206000,530.795238,549.848462,556.404839,531.688710,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
06-07,0,0,-14,7,599.839524,891.244800,1399.859091,799.360800,914.669643,563.844444,...,341.123462,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
06-08,0,0,-13,8,1507.860455,1520.783913,1378.587241,1250.355714,1721.851364,1427.600000,...,355.955172,362.764000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
06-09,0,0,-12,9,1173.795625,1297.605789,1499.241579,1249.956538,1318.926667,1239.577778,...,442.599677,NaN,403.721212,NaN,NaN,NaN,NaN,NaN,NaN,NaN
06-10,0,0,-11,10,818.848333,1485.269167,1157.506667,1681.200667,1033.963478,2016.611111,...,NaN,426.145000,NaN,416.877097,NaN,NaN,NaN,NaN,NaN,NaN
06-11,1,0,-10,11,1032.520000,957.362000,1425.025000,1549.517857,995.193182,1035.547368,...,462.899412,NaN,442.271034,NaN,439.128667,NaN,NaN,NaN,NaN,NaN
06-12,1,0,-9,12,781.185714,730.618182,632.211111,1331.525833,2100.045556,2145.500000,...,485.175769,491.935926,NaN,510.965161,NaN,478.546207,NaN,NaN,NaN,NaN
06-13,0,0,-8,13,847.235000,641.607333,1059.601111,891.465333,1278.543000,1258.581818,...,453.140882,454.870833,457.131250,NaN,456.844545,NaN,431.991935,NaN,NaN,NaN
06-14,0,0,-7,14,772.249000,1009.307143,1378.018636,1256.097188,982.422069,1436.604091,...,NaN,423.483448,433.328276,416.307241,NaN,369.422273,NaN,381.850000,NaN,NaN
06-15,0,0,-6,15,916.894737,931.340625,1116.531053,1021.762632,1429.422727,1717.580952,...,454.903571,NaN,436.152857,447.820968,437.844444,NaN,417.548000,NaN,411.937917,NaN
06-16,0,0,-5,16,1922.371111,1437.036111,1092.888636,1171.450000,741.988889,708.856250,...,NaN,445.829310,NaN,452.988621,458.756774,453.750345,NaN,437.746897,NaN,436.252143
06-17,0,0,-4,17,1245.606000,1181.751765,1044.835000,913.422759,1004.403182,987.319474,...,459.566897,NaN,442.360882,NaN,466.534839,461.131935,450.937647,NaN,434.446897,NaN
06-18,1,0,-3,18,1208.045333,959.352800,1087.263478,858.900870,772.838621,888.210000,...,489.251786,460.430000,NaN,477.502000,NaN,455.157200,469.545926,452.988750,NaN,NaN
06-19,1,0,-2,19,772.709474,770.604091,791.049545,870.750833,957.034400,850.852917,...,512.055652,532.376452,456.803636,NaN,489.653846,NaN,466.900870,479.063333,476.090333,NaN
06-20,0,1,-1,20,801.515500,1181.637619,1068.073043,1077.451579,875.340909,1211.608235,...,512.583714,417.417333,499.232059,NaN,NaN,480.762727,NaN,480.964828,480.657586,490.494194
06-21,0,0,0,21,1358.115455,1101.950400,833.429333,821.272000,854.454667,940.491538,...,440.363793,430.250000,433.365385,422.933226,NaN,NaN,408.906667,NaN,405.740000,400.336429
06-22,0,0,1,22,1119.179565,1235.864167,1276.571364,816.594483,798.725312,866.222222,...,460.521429,453.153448,455.805000,485.153000,479.119600,NaN,NaN,439.853704,NaN,432.013793
06-23,0,0,2,23,743.986923,642.232727,691.298462,732.205000,693.558846,768.083214,...,488.223235,483.900571,484.576250,497.457667,460.160303,502.958824,NaN,NaN,445.353529,NaN
06-24,0,0,3,24,857.410000,666.630909,659.317931,686.324000,645.949687,748.616957,...,516.939500,468.189231,462.714783,464.737500,476.716538,447.832500,468.291429,NaN,NaN,NaN
06-25,1,0,4,25,783.658000,666.298333,661.355200,636.179286,652.855600,639.425000,...,544.923600,497.977917,469.589310,457.182759,455.196667,458.573529,467.737500,486.576757,NaN,NaN
06-26,1,0,5,26,738.017692,753.041667,690.151786,745.050417,702.752069,789.407500,...,540.083478,554.341429,573.264400,562.125417,545.849259,528.288519,508.147826,508.157143,521.404286,NaN
06-27,0,0,6,27,600.574857,615.722414,640.348571,657.998400,682.063077,673.760000,...,476.010571,490.568000,476.660968,480.605882,473.303571,454.110714,473.750000,457.229333,450.165625,447.487097
06-28,0,0,7,28,603.562162,628.761154,620.583333,658.997407,624.353750,673.570000,...,470.414762,454.741364,450.432273,464.836842,466.176190,415.194444,411.858333,416.990909,411.622500,402.684783
06-29,0,0,8,29,1132.703514,661.707083,628.887778,648.117931,668.435185,688.481200,...,459.317308,472.009091,482.303333,476.533333,469.800000,464.177778,437.050000,445.695000,437.187037,423.882000
06-30,0,0,9,30,1615.442273,1663.553810,876.770870,909.597826,952.392273,993.327895,...,NaN,475.618750,488.004857,502.272353,493.418387,468.835455,462.790000,440.009600,434.013636,NaN
07-01,0,0,10,1,803.017500,1462.203077,1699.890476,899.739500,927.877222,941.857059,...,NaN,NaN,517.114167,476.615862,474.134643,454.998846,433.588000,462.771111,478.461905,477.209167
07-02,1,0,11,2,640.823462,549.756562,1307.436364,1123.413214,623.461333,632.726786,...,457.872143,NaN,NaN,471.275200,482.408065,486.061111,488.032000,482.324815,NaN,467.650000
07-03,1,0,12,3,504.075882,381.314286,399.661463,702.563250,744.590286,596.372500,...,447.086316,436.275294,NaN,NaN,414.163750,442.457000,415.552222,425.065556,428.252000,NaN
07-04,0,1,13,4,446.818947,431.020000,387.666818,431.622381,678.086098,773.737931,...,NaN,398.912500,413.915185,NaN,NaN,386.083636,378.178947,379.552632,414.968421,410.525000
07-05,0,0,14,5,499.125000,506.347442,523.761951,499.466250,487.944571,822.736364,...,NaN,NaN,429.929500,330.462857,NaN,NaN,429.875000,421.157407,424.583571,432.105000
07-06,0,0,15,6,532.460286,514.656341,549.575581,582.135000,524.346216,741.431563,...,NaN,NaN,NaN,419.044444,372.271429,NaN,NaN,396.897059,419.013636,441.233333
07-07,0,0,16,7,556.414444,480.656944,485.612778,492.157442,467.128293,545.115625,...,NaN,NaN,NaN,NaN,437.628929,434.556111,NaN,NaN,431.080000,NaN
07-08,0,0,17,8,490.667742,486.087838,454.252791,463.860250,386.980244,558.737931,...,399.339524,NaN,NaN,NaN,NaN,409.238000,340.845000,NaN,NaN,410.617619
07-09,1,0,18,9,505.269231,331.105000,505.219024,411.279459,419.652903,600.633333,...,NaN,410.426800,NaN,NaN,NaN,NaN,447.164583,400.928571,NaN,NaN
07-10,1,0,19,10,435.984000,479.329412,354.239048,475.432368,465.459231,573.637714,...,NaN,NaN,372.840526,NaN,NaN,NaN,NaN,NaN,439.160000,NaN
07-11,0,0,20,11,402.617857,425.217647,335.961905,449.170870,570.546129,626.164839,...,407.915217,NaN,NaN,362.654091,NaN,NaN,NaN,NaN,383.083043,392.224615
07-12,0,0,21,12,485.584375,397.744737,414.600000,416.016667,422.668667,528.419444,...,380.696786,NaN,NaN,NaN,334.507778,NaN,NaN,NaN,NaN,396.622174
07-13,0,0,22,13,488.791176,380.988571,402.905263,425.954054,390.713889,458.719355,...,NaN,411.396667,420.945806,NaN,NaN,343.195652,NaN,NaN,NaN,NaN
07-14,0,0,23,14,408.645455,387.922581,401.796970,430.731579,434.272414,515.432143,...,NaN,NaN,447.002105,437.673448,NaN,NaN,371.347778,NaN,NaN,NaN
07-15,0,0,24,15,484.257143,413.350000,434.628571,442.993939,413.773077,502.687391,...,433.255238,NaN,NaN,436.951600,424.336538,NaN,NaN,395.925833,NaN,NaN
07-16,1,0,25,16,415.586857,357.119231,372.628519,376.490370,425.630303,424.175000,...,441.976800,453.252000,NaN,NaN,478.829355,493.392069,NaN,NaN,414.491852,NaN
07-17,1,0,26,17,412.750000,406.503704,415.791304,495.890909,596.223810,633.213043,...,502.016667,517.271071,504.151379,NaN,NaN,511.412692,510.234815,NaN,NaN,430.482083
07-18,0,0,27,18,494.550000,427.013793,393.859259,410.000000,415.100000,428.511071,...,422.604167,414.248095,444.755313,412.686000,NaN,NaN,423.962500,413.855357,NaN,NaN
07-19,0,0,28,19,438.000333,376.793548,376.800000,378.293548,412.113158,413.673056,...,NaN,399.197308,401.201250,408.315833,414.302692,NaN,NaN,361.911600,366.966250,NaN
07-20,0,0,29,20,637.336389,673.566667,597.100000,597.996765,572.591471,551.091667,...,412.724400,NaN,408.523077,408.384000,408.238462,421.369231,NaN,NaN,404.917083,423.627308

## Handle Missing Values in Fare Curves

In [21]:
# Copy the pivoted dataframe
df_clean = df_pivoted.copy()

# Determine target columns (the days-to-departure columns)
target_cols = [c for c in df_clean.columns if "days to departure" in c]

# Interpolate missing values across each row (days to departure)
df_clean[target_cols] = df_clean[target_cols].interpolate(axis=1)

# Fill any remaining missing values with column medians
df_clean[target_cols] = df_clean[target_cols].fillna(df_clean[target_cols].median())

## Add Weekly and Monthly Features

Two additional calendar-based features are added to capture weekly and monthly
patterns in flight pricing. These features are grouped with the other input
variables before the fare-curve target columns.

In [22]:
# Add weekly and monthly features next to other input features
flightDate = pd.to_datetime("2022-" + df_clean.index)

df_clean.insert(4, "flight_day_of_week", flightDate.dayofweek)
df_clean.insert(5, "flight_month", flightDate.month)

## Normalize Continuous Features Only

Continuous input features are scaled to the [0, 1] range to ensure comparable
magnitudes during training. Binary indicator features such as `is_weekend` and
`is_public_holiday` are left unchanged, since they already take values in {0, 1}.

In [23]:
from sklearn.preprocessing import MinMaxScaler

# Binary features that are not normalized
binary_features = [
    "is_weekend",
    "is_public_holiday",
]

# Continuous features (normalize to [0, 1])
continuous_features = [
    "day_of_month",
    "days_from_summer_start",
    "flight_day_of_week",
    "flight_month",
]

scaler = MinMaxScaler()
df_clean[continuous_features] = scaler.fit_transform(df_clean[continuous_features])

## Split Dataset
Split the dataset into train (70%), validation (15%), and test (15%) sets using random sampling.

In [24]:
df_for_split = df_clean

# Split dataset into train, validation, and test sets
from sklearn.model_selection import train_test_split

# First split: 70% train, 30% temp
df_train, df_temp = train_test_split(
    df_for_split,     # use final cleaned dataframe
    test_size=0.3,
    random_state=42
)

# Second split: temp -> 15% val, 15% test
df_val, df_test = train_test_split(
    df_temp,
    test_size=0.5,
    random_state=42
)

# Display shapes
print(f"Train set shape: {df_train.shape}")
print(f"Validation set shape: {df_val.shape}")
print(f"Test set shape: {df_test.shape}")

print("\nSplit percentages:")
print(f"Train: {len(df_train) / len(df_for_split) * 100:.1f}% ({len(df_train)} rows)")
print(f"Validation: {len(df_val) / len(df_for_split) * 100:.1f}% ({len(df_val)} rows)")
print(f"Test: {len(df_test) / len(df_for_split) * 100:.1f}% ({len(df_test)} rows)")

Train set shape: (64, 66)
Validation set shape: (14, 66)
Test set shape: (14, 66)

Split percentages:
Train: 69.6% (64 rows)
Validation: 15.2% (14 rows)
Test: 15.2% (14 rows)

## Save Splits
Export the train, validation, and test splits to CSV files in the data/splits folder.

In [25]:
# Save splits
df_train.to_csv('data/splits/train.csv', index=True)
df_val.to_csv('data/splits/val.csv', index=True)
df_test.to_csv('data/splits/test.csv', index=True)